<form method="post" action="{{ path('app_classe_delete', {'id': classe.id}) }}">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ classe.id) }}">
	<button class="btn" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
		<i class="fas fa-trash-alt"></i>
	</button>
</form>
