{% extends 'base.html.twig' %}

{% block title %}Nouvelle classe{% endblock %}

{% block body %}
    <h1>Creer une nouvelle classe</h1>

    {{ include('classe/_form.html.twig') }}

    <a href="{{ path('app_classe_index') }}">back to list</a>
{% endblock %}
