{% extends 'base.html.twig' %}

{% block title %}Nouveau departement
{% endblock %}

{% block body %}
	<h1>Creer un nouveau departement</h1>

	{{ include('departement/_form.html.twig') }}

	<a href="{{ path('app_departement_index') }}">Retour a la liste</a>
{% endblock %}
